[submodule "goose-desktop"]
	path = goose-desktop
	url = https://aur.archlinux.org/goose-desktop.git
[submodule "somo"]
	path = somo
	url = https://aur.archlinux.org/somo.git
[submodule "mcptools"]
	path = mcptools
	url = https://aur.archlinux.org/mcptools.git
[submodule "clair"]
	path = clair
	url = https://aur.archlinux.org/clair.git
[submodule "kubetail"]
	path = kubetail
	url = https://aur.archlinux.org/kubetail.git
